body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(238, 225, 212);
}

main {
	display: inline-grid;
	grid-template-columns: 390px auto;
}

label, h2 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
	margin-top: 0;
	margin-bottom: 10px;
}

.left-column {
	grid-column-start: 1;
	grid-column-end: 2;
	position: fixed;
	height: 100%;
	width: 370px;
	background-color: rgb(238, 225, 212);
	border-right: 2px solid black;
	padding-top: 20px;
	padding-left: 20px;
}

.right-column {
	grid-column-start: 2;
  width: auto;
	padding-left: 20px;
	padding-top: 20px;
  margin-right: 20px;
}

@media (max-width: 800px) {
	main {
		grid-template-rows: 140px 100%;
		grid-template-columns: none;
	}
	.left-column {
		height: 118px;
		width: 100%;
		border-right: none;
		border-bottom: 2px solid black;
	}	
	.right-column {
		grid-row-start: 2;
		grid-column-start: none;
	}
}	

.search-form {
  margin-top: 10px;
}

.search-input {
	height: 35px;
	width: 262px;
	border: 1px solid white;
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-left: 8px;
}

.button {
	height: 39px;
	width: 80px;
  padding: 5px;
  background-color: rgb(238, 225, 212);
  border: none;
  margin-top: -7px;
  margin-left: -5px;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.next-results {
	width: 150px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.button:hover {
  background-color: #ff1a1a;
}

.snippet-title {
	padding-bottom: 10px;
	font-size: 20px;
}

.each-result {
	padding: 10px 10px 20px 20px;
}

.each-result:hover {
  background-color: #ff1a1a;
}